---
title: Meanlight Studio
layout: default
---

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:0px">

    <!-- Automatic Slideshow Images -->
    <div class="parallax" style="background-image: url('/assets/images/banner.png');">
        <div class="transparent-bg center-container">
            <h1 style="font-size: 86px; font-family: 'Chalk';">Meanlight Studio</h1>
            <h2 style="font-family: 'Chalk';"><b>Indie Games, Game Assets, Gamedev Tools, and more!</b></h2>
        </div>
    </div>

    <!-- The Band Section -->
    <div class="w3-black" style="color: #F4E2B5;">
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px;" id="band">
            <h2 class="w3-wide" style="color: #F4E2B5;">THE TEAM</h2>
            <p class="w3-opacity" style="color: #F4E2B5;" ><i>We love video games!</i></p>
            <p class="w3-justify" style="color: #F4E2B5;">We are a small team from Argentina willing to make cool games! We give our best in our free time to make fun stuff for people to play and enjoy. We also create gamedev assets and tools to help other indie devs. You can always find us in social media trying to help other fellow devs, giving feedback and joining jams!</p>
            <div class="w3-row w3-padding-32">
                {% for a in site.data.members %}
                {% assign key=a[0] %}
                {% include author.html member=key %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- The Tour Section -->
    <div class="parallax" style="background-image: url('/assets/images/banner.png');">
        <div class="transparent-bg w3-container w3-content w3-padding-64" style="max-width:800px">
            <h2 class="w3-wide w3-center">Our Creations</h2>


            <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                {% for p in site.data.projects %}
                {% assign key=p[0] %}
                {% include project.html project=key %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>
